:root {
  --red-font: #e60012;
  --gray-font: #3C3C3C;
}

/*　==========
・・・汎用クラス
==========　*/
*{
  letter-spacing: 0.7px;
}
img{
  display: block;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1080px;
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.wave{
  width: 100%;
  height: auto;
}
.en_ttl{
  font-size: 30px;
  color: var(--red-font);
  margin-bottom: 6px;
  text-align: center;
  font-weight: bold;
}
.ja_ttl{
  font-size: 20px;
  color: var(--gray-font);
  margin-bottom: 110px;
  text-align: center;
}

/*　==========
・・・flex_row
==========　*/
.header_flex_row,.kv_flex_row,.footer_flex_row,.p_flex_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main{
  display: flex;
  justify-content: space-between;
}

/*　==========
・・・body
==========　*/
body {
  background-size: 100px 100px;
  background-image: url("../img/shutterstock_1921647224.jpg"); /* ← ここに画像ファイルのパス */
  background-repeat: repeat;                /* 繰り返す（デフォルトだけど明示的に） */ 
  background-position: top left;            /* 開始位置（お好みで） */
  font-family: 'Noto Sans';
  color: var(--gray-font);
  font-size: 18px;
  width: 100%;
}

/*　==========
・・・header
==========　*/
.logo{
  width: 300px;
  height: auto;
  margin-left: -10px;;
}
.header_wrapper{
  width: 90%;
  height:98px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

/*　==========
・・・kv
==========　*/
.lady_wrapper{
  max-width: 800px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.lady{
  width: 100%;
  height: auto;
}
.title_logo{
  width: 45%;
  height: auto;
}
.kv_wrapper{
  padding-top: 98px;
  width: 100%;
  background-color: white;
}
.moving_band{
  background-image: url("../img/background.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 90% auto;
  animation: band-scroll 60s linear infinite;
  z-index: -1;
  background-repeat: repeat;
}
@keyframes band-scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0; /* 画像幅に合わせて調整 */
  }
}

.wave_wrapper{
  position: relative;
}

/*　==========
・・・intro
==========　*/
.intro{
  text-align: center;
  line-height: 30px;
  margin-top: 84px;
  margin-bottom: 12px;
  position: relative;
}
.intro p{
  line-height: 1.8;
}
.strong{
  font-size: 30px;
}

.square_logo{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  height: auto;
  opacity: 30%;
  z-index: -1;
}

/*　==========
・・・main
==========　*/
.main_section{
  background-color: white;
  padding-bottom: 110px;
}
.main p{
  max-width: 530px;
  width: 100%;
  line-height: 1.36;
  margin-left: 10%;
  line-height: 1.8;
}

.carousel_container{
  position: relative;
  width: 430px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: none;
  border-radius: 30px;
}
.carousel_track{
  display: flex;
  height: 100%;
  transition: transform 0.4s ease-in-out;
}
.carousel_track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex: 0 0 100%;;
}
.carousel_dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f8c5da;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot.active {
  background-color: #e91e63;
}

/*　==========
・・・Line up
==========　*/
.product_wrapper{
  margin-top: 120px;
  margin-bottom: 144px;
}
.product{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 116px 12%;
  max-width: 822px;
  width: 90%;
  margin: 0 auto;
}
.product_li{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_frame{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  background-image: url("../img/background.jpg");
  background-size: 90% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.product_li img{
  width: 66%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
h3{
  margin-top: 48px;
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  text-align: center;
}
h3::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 8px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='12'><path d='M0,6 Q5,2 10,6 T20,6 T30,6 T40,6 T50,6 T60,6 T70,6 T80,6 T90,6 T100,6' fill='none' stroke='black' stroke-width='1'/></svg>");
  background-repeat: repeat-x;
  background-size: contain;
}
.tasty{
  font-size: 14px;
}
.product_li p{
  line-height: 1.7;
  max-width: 340px;
  width: 100%;
}

/*　==========
・・・ボタン
==========　*/
button {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: white;
  border: 1px solid var(--gray-font);
}

button span {
  color: var(--gray-font);
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  animation: rotate 0.7s ease-in-out both;
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

/*　==========
・・・p
==========　*/
.p_animation {
  opacity: 0;
  transform: translateY(5em);/*　動きの大きさ調整　*/
  transition: opacity 1.8s cubic-bezier(0.33, 1, 0.68, 1), transform 1.8s cubic-bezier(0.33, 1, 0.68, 1);
}

.p_animation.isActive {
  opacity: 1;
  transform: translateY(0);
}

/*　==========
・・・footer
==========　*/
.footer{
  margin-top: 118px;
  height: 130px;
  border-top: 1px solid;
  
}
footer a:visited{
  color: var(--gray-font);
}
ul{
  gap:30px;
}
li a{
    color: var(--gray-font);
    display: inline-block;
    transition: transform 0.5s;
}
li a:hover{
    transform: translateY(-5px);
}

/*　==========
・・・レスポンシブ対応
==========　*/
@media (max-width: 750px) {
  body{
    font-size: 16px;
  }
  /*　==========
  ・・・flex_row
  ==========　*/
  .kv_flex_row,.footer_flex_row,.p_flex_row,.main,.product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .lady_wrapper{
    width: 110%;
  }
  .title_logo{
    width: 80%;
  }
  .logo{
    width: 150px;
  }
  .carousel_container{
  position: relative;
  width: 300px;
  }
  button {
  width: 170px;
  }
  .square_logo{
    width: 300px;
    opacity: 15%;
  }
  .strong{
  font-size: 16px;
  }
  .en_ttl{
    font-size: 20px;    
  }
  .ja_ttl{
    font-size: 14px;
    margin-bottom: 30px;
  }
  .main p{
    margin: 30px auto -80px auto;
  }
  .product_li p{
    width: 230px;
    line-height: 1.8;
  }
  footer{
    padding: 40px 0 40px 0;
  }
}